#quizOpener
{
    display:inline;
}

#quizQuestion
{
    display:none;
}

#quizCorrect
{
    display:none;
}

#quizIncorrect
{
    display:none;
}

#quizHighScoreInput
{
    display:none;
}

#quizHighScoreList
{
    display:none;
}

#quizContent
{
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
}

.quizButton
{
    margin: 20px 0px;
    padding: 10px;
    width:14rem;
    font-size: larger;
    border-radius: 5px;
}

.buttonGroup
{
    text-align: center;
}

#inputInitials
{
    width:5rem;
}